{% extends 'base.html' %}{% load static %}{% block content %}
<link rel="stylesheet" href="{% static "_login.css" %}">


<div class="container">
    
    <div class="finger_pr">
      <image id="finger" src="{% static 'login_images/Fingerprint-bro 1.png' %}">
    </div>
 

  <div class="dots1">
     <image  id="f_d1" src="{% static 'login_images/Ornament 16 (1).png' %}">
     <image id="f_d2"  src="{% static 'login_images/Ornament 16 (1).png' %}">
  </div>
   

  <div class="buttons">

    <div class="button_1" >
      <button  id="b1" href="#">login with <image id="b2_im" src="{% static 'login_images/Vector.png' %}"></button>
    </div>

    <div class="button_2">
     <button id="b2" href="#">login with <image id="b2_im" src="{% static 'login_images/Vector (1).png' %}"></button>
    </div>

    
    <div>
     <P class="create_acc">New here?<a id="cr_acc" href="#"> Create an account.</a></p>
    </div>

  </div>



  <div class="dots2" >
     <image id="f_d3" src="{% static 'login_images/Ornament 16 (1).png' %}">
     <image id="f_d4"  src="{% static 'login_images/Ornament 16 (1).png' %}">
  </div>

</div>


{% endblock %}
