{% extends 'base.html' %}{% load static %}{% block content %}


<div class="container">

  <video width="320" height="240" controls>
    <source src="https://github.com/sa-y-an/optim/raw/main/video-desktop.mp4" type="video/mp4">
    <source src="https://github.com/sa-y-an/optim/raw/main/video-desktop.mp4" type="video/ogg">
  Your browser does not support the video tag.
  </video>

  <video width="320" height="240" controls>
    <source src="{%static 'video/video-desktop.mp4' %}" type="video/mp4">
    <source src="{%static 'video/video-desktop.mp4' %}" type="video/ogg">
  Your browser does not support the video tag.
  </video>
  


  <h2>The top {{n }} qualified participants are</h2>
  <br />

  <div >
    <table class="table table-striped table-dark">
      <tr>
        <th>Rank</th>
        <th>Name</th>
        <th>Score</th>
        <th>
          Email
        </th>
      </tr>

      {% for player in leaders %}
      <tr>
        <td>{{player.rank}}</td>
        <td>{{player.name }}</td>
        <td>{{player.score}}</td>
        <td>{{player.email}}</td>
      </tr>
      {% endfor %}
    </table>
  </div>

  <form action="" method="POST">
    <div class="form-group">
      To Promote the players to next level
      <br />
      Enter the password below
      <br />
    </div>
    {% csrf_token %} 
    <!-- {{form.as_p}} -->
    <input type="text" name="answer" placeholder="Enter your answer">
    <button type="submit" class="btn btn-danger">Submit</button>
  </form>

  <br />



  <div class="check">
    {% if lst == 0 %}
    <p>
      Please Be sure before entering, <br />
      There is no going back
    </p>
    {% endif %} {% if lst == 1 %}
    <p>Players promoted</p>
    {% endif %} {% if lst == 2 %}
    <p>wrong password</p>
    {% endif %}
  </div>
</div>
{% endblock %}
