{% load static %}

<footer>
  <div class="footleft">
      <a href="https://www.ieee.org/" target="_blank" rel="noopener noreferrer">
          <img src="{% static 'home/ieeembw.png'%}" alt="IEEE" class="ieee" />
      </a>
  </div>
  <div class="contact">
      <div class="ctitle">
          <b>Contact Us</b>
      </div>

      <div class="clinks">
          <div class="cinsta">
              <a href="https://www.instagram.com/ieeesb_nitdgp/" target="_blank" rel="noopener noreferrer">
                  <img src="{% static 'home/insta.png'%}" alt="instagram" />
              </a>
          </div>
          <div class="cfb">
              <a href="https://www.facebook.com/nitdgpieeesociety/" target="_blank" rel="noopener noreferrer">
                  <img src="{% static 'home/cfb.png'%}" alt="instagram" />
              </a>
          </div>
      </div>
  </div>
  <div>
      <div class="footend">
          <a href="http://www.ieeesbnitdgp.com/" target="_blank" rel="noopener noreferrer">
              <img src="{% static 'home/ieeew.png'%}" alt="IEEE" class="ieee" />
          </a>
      </div>
  </div>
</footer>