@import url('https://fonts.googleapis.com/css2?family=Darker+Grotesque:wght@300;400;500;600;700;800;900&display=swap');

body
{
    background-color: black;
    font-family: 'Darker Grotesque';
    color: white;
    font-weight: normal;
}

  .bro{
    align-items: center;
    right: 1164px;  
  }
  .bro img 
  {
      height: 700px;
      width: 700px;
  }
  .over{
    color: #66FCF1;
    font-size: 62px ;
    font-weight: 700;
    margin-top:  120px;
    margin-left: 70px;
  }
  .textedits{
      margin:10px;
      font-size: 28px;
      margin-left: 73px;
  }
  .smth{
padding: 90px;
  }

  
/* Dots Css*/
.top-left{
    position: absolute;
    z-index: 10000;
    top: 50px;
    display: flex;
    flex-direction: column;
}
.top-left svg:first-child{
    margin-bottom: 40px;
}

.top-right{
    position: absolute;
    z-index: 10000;
    top: 10px;
    right: -50px;
    font-size: 16px;
    display: flex;
    overflow: hidden;
    transform: rotate(180deg)
}
.top-right {
    display: flex;
}
.top-right svg{
    margin-bottom: 40px;
}

@media (max-width: 991px)
{

.smth
{
    padding: 50px;
    margin-left: 140px;
}
.line 
{
    display: none;
}
.bro img
{
    margin-left: 40px;

}
.top-left .top-right 
{
    display: none;
}
}