.footer{
    display:flex;
    background-color: #202833;
    position: fixed;
    bottom: 0;
    left: 0;
    align-items: center;
    width:100vw;
    justify-content: space-between;
    padding: 0px 20px;
}

.arcane{
    height:50px;
    width:auto;
}

.ieee{
    height:50px;
    width:auto;
}

.clinks{
    display: flex;
    justify-content: space-evenly;
    width:15vw;
    
}

.fab{
    font-size: 26px;
    color: #66FCF1;
}

@media screen and (max-width:700px){
    .fab{
        margin-right: 10px;
    }
}