{% extends 'base.html'%} {% load static %}

{% block title %}<title>PASSCODE</title>{% endblock %}

{% block content %}
<div class="content">
  <div class="stage1">
    <u>Thanks for Playing with US. </u>
    <br />
    You have completed Stage 1. <br />
    Enter the PASSCODE for BONUS points. 
  </div>

  {% if check %}
  <p class="wrong">
    please try again,
    <br />
    your answer was incorrect
  </p>
  {% endif %}

  
  <div class="stage1">
    <form action="{% url 'quiz:passcode' %}" method="POST">
      {% csrf_token %}
      <h1>
        Enter The passcode below
      </h1>
      {{form.as_p}}
      <button class="btn btn-secondary mb1 bg-blue" type="submit">
        Submit
      </button>
    </form>
  </div>
</div>

{% endblock %}
