{% extends 'base.html'%} {% load static %} 

{% block content %}
<head>
<link rel="stylesheet" href="{%static 'quiz/index.css' %}">
</head>
{%block title%}
<title>Index</title>{%endblock%}


<div class="container">
   
  <br />
      <div class="h4lite" align="center">
      Index for Round 2</div>
      <br />
      <p align="center">To view or answer a question click on its title</p>
      <br />
    <div class="row blockz">
      <div class="col-2 buttn1"><b>SL. No.</b></div>
      <div class="col-7 buttn2"><font color="black"><b>Questions</b></font></div>
      <div class="col-3 buttn3"><b>Status</b></div>
    </div>
    <br>
    {% for i in q %}
    <div class="row blockz">
      <div class="col-2 buttn4">{{i.level}}</div>
      <div class="col-7 buttn2">
        <a href="{% url 'quiz:individual' i.level %}"> {{ i.title }} </a>
      </div>

      <div class="col-3 buttn5">
        {% for j in player.solved_set.all %}
        {% if j.level_on == i.level %}
             {{j.solved}}
        {% endif %}  
      {% endfor %}
      </div>
    </div>
    <br>
    {% endfor %}

    <br />
    <p align="center"></p>
<!-- 
    <p align="center">To view or answer a question click on its title</p> -->
    <br />
  </div>

    <p align="center">
      Till Now you have solved {{player.count2}} question{{ player.count2|pluralize}} in Stage 2
      <br>
      Note - Status Appears Only if You have visited a question
    </p>      

</div>

{% endblock %}