{% extends 'base.html'%} {% load static %} 

{% block content %}

<div class="container">
  <br />
  <div class="display_box stage1">
    <h4 align="center">
      Congratulations {{player.name }} <br />
      on reaching Stage 2!
    </h4>
    
    <br />
    <p align="center"></p>

    <p align="center">To view or answer a question click on its title</p>
    <br />
  </div>
    
      Till Now you have solved {{player.count2}} question{{ player.count2|pluralize}} in Stage 2
   
      <div class="container">
                    
        <table class="table table-striped">
          <thead>
            <tr>
              <th> No</th>
              <th>Question</th>
              <th>
                Status
              </th>
            </tr>
          </thead>
          <tbody>
            {% for i in q %}
            <tr>
              <td>{{i.level}}</td>
              <td>
                <a href="{% url 'quiz:individual' i.level %}"> {{ i.title }} </a>
              </td>
              <td>
                {% for j in player.solved_set.all %}
                  {% if j.level_on == i.level %}
                       {{j.solved}}
                  {% endif %}  
                {% endfor %}
              </td>
              
            </tr>
            {% endfor %}
          </tbody>
        </table>
      </div>

      <p>
        Note - Status Appears Only if You have visited a question
      </p>
    </div>
</div>

{% endblock %}
