{% extends 'base.html'%} {% load static %} 

{% block title %}<title>solved</title>{% endblock %}

{% block content %}
<div class="content" >
    <p class="stage1" style="padding: 1rem;">
        <span style="font-size: 1.3em;">  Hurrah! <br>   You have sucessfully solved this Question.</span>
        <br>
        <button class="btn" style="margin-top: 1rem;">
            <a  href="{% url 'quiz:index' %}" >
                Back to Questions Page
            </a>
        </button>
    </p>

</div>
{% endblock %}
