{% extends 'base.html'%} {% load static %} {% block content %}
<style>
	.dots {
		height: 25vh;
		position: absolute;
		display: flex;
		gap: 30px;
	}
	#d1 {
		top: 100px;
		left: 10px;
	}
	#d2 {
		bottom: 0px;
		right: 100px;
		transform: rotate(90deg);
	}

	.image {
		margin: auto;
		height: 82vh;
	}

	.content {
		height: 82vh;
		width: 49vw;
		margin: 2px;
	}

	.centerBlock {
		display: table;
		margin: auto;
		margin-top: 30vh;
	}

	.para {
		font-size: 1.5em;
		color: teal;
	}

	.countdown {
		height: 128px;
		margin: 0.3em;
		margin-top: 20px;
		font-family: Darker Grotesque;
		font-style: normal;
		font-weight: bold;
		font-size: 5rem;
		display: flex;
		align-items: center;
		color: #ffffff;
	}

	.countdown span {
		margin: 20%;
		color: teal;
	}

	.text {
		height: 49px;
		margin: 0.5em;
		margin-top: 0;
		/* Heading Bold 36pt */
		font-family: Darker Grotesque;
		font-style: normal;
		font-weight: bold;
		font-size: 2rem;
		/* identical to box height */
		display: flex;
		align-items: center;
	}

	@media screen and (max-width: 768px) {
		.image,
		.dots {
			display: none;
		}
		.content {
			width: 100vw;
		}
		.countdown {
			height: 128px;
			margin: 0.3em;
			margin-top: 20px;
			font-family: Darker Grotesque;
			font-style: normal;
			font-weight: bold;
			font-size: 4rem;
			display: flex;
			align-items: center;
			color: #ffffff;
		}
		.text {
			height: 49px;
			margin: 0.5em;
			margin-top: 0;
			/* Heading Bold 36pt */
			font-family: Darker Grotesque;
			font-style: normal;
			font-weight: bold;
			font-size: 1.5rem;
			/* identical to box height */
			display: flex;
			align-items: center;
		}
	}
</style>

<div class="dots" id="d1">
	<img src="/static/images/Ornament 17.svg" class="dotss1" />
	<img src="/static/images/Ornament 17.svg" class="dotss2" />
</div>
<div class="dots" id="d2">
	<img src="/static/images/Ornament 17.svg" class="dotss1" />
</div>

<div class="row">
	<div class="col-md-6 content">
		<div class="centerBlock mt-40">
			<div class="row">
				<p class="text-center m-0 p-0 para">
					GET READY FOR MOST BRAINSTORMING CHALLENGES
				</p>
				<p class="text-center m-0 p-0 para">LET'S SEE WHO CRACKS THE CODE?</p>
			</div>
			<div class="row">
				<div class="col-3">
					<div class="row">
						<p id="days" class="countdown"></p>
					</div>
					<div class="row">
						<p class="text-secondary text">days</p>
					</div>
				</div>
				<div class="col-3">
					<div class="row">
						<p id="hours" class="countdown"></p>
					</div>
					<div class="row">
						<p class="text-secondary text">hours</p>
					</div>
				</div>
				<div class="col-3">
					<div class="row">
						<p id="mins" class="countdown"></p>
					</div>
					<div class="row">
						<p class="text-secondary text">minutes</p>
					</div>
				</div>
				<div class="col-3">
					<div class="row">
						<p id="seconds" class="countdown"></p>
					</div>
					<div class="row">
						<p class="text-secondary text">seconds</p>
					</div>
				</div>
			</div>
		</div>
	</div>

	<div class="col-md-6 image">
		<img
			src="{% static 'images/countdown.svg' %}"
			class="img-fluid m-auto h-100 d-block"
		/>
	</div>

	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
	<script>
		// Set the date we're counting down to
		var countDownDate = new Date("Sep 28, 2021 9:00:00").getTime();

		// Update the count down every 1 second
		var x = setInterval(function () {
			// Get today's date and time
			var now = new Date().getTime();

			// Find the distance between now and the count down date
			var distance = countDownDate - now;

			// Time calculations for days, hours, minutes and seconds
			var days = Math.floor(distance / (1000 * 60 * 60 * 24));
			var hours = Math.floor(
				(distance % (1000 * 60 * 60 * 24)) / (1000 * 60 * 60)
			);
			var minutes = Math.floor((distance % (1000 * 60 * 60)) / (1000 * 60));
			var seconds = Math.floor((distance % (1000 * 60)) / 1000);

			$("#days").html(days + "<span>: </span>");
			$("#hours").html(hours + "<span>: </span>");
			$("#mins").html(minutes + "<span>: </span>");
			$("#seconds").html(seconds);

			// If the count down is over, go back to home
			if (distance < 0) {
				clearInterval(x);
				document.getElementById("endinfo").innerHTML =
					"<p style='font-size: 0.4em'><a href='{% url 'home:home' %}'>Go back to home</a></p>";
				document.getElementById("countdownblock").innerHTML = "";
				$("#countdownblock").addClass("timeexp");
				$("#endinfo").css("display", "block");
			}
		});
	</script>
	{% endblock %}
</div>
