<!DOCTYPE html> {% load static %}
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" /> {% block title %}


    <!-- Bootstrap  -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-F3w7mX95PdgyTmZZMECAngseQB83DfGTowi0iMjiWaeVhAn4FJkqJByhZMI3AhiU" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-/bQdsTh/da6pkI1MST/rWKFNjaCP5gBSY4sEBT38Q/9RBh9AH40zEOg7Hlq2THRZ" crossorigin="anonymous"></script>

    <title>Arcane</title>{% endblock %}
</head>

<body style="background-color:black;">
    
    <div class="container-fluid" style="margin:0px; padding:0px;">

        {%  include 'partials/_navbar.html' %}

        <br/>
        
        {% block content %}{% endblock %}

        <br/><br/><br/>

        {%  include 'partials/_footer.html' %}

        
    </div>
</body>

</html>
