{% extends 'base.html'%} {% load static %}

{% block title %}


<title>
    Dashboard
</title>
<link rel="stylesheet" href="{% static 'user/dashboard.css' %}">

{% endblock %}


{% block content %}

<div class="content">
	<div class="box">
		<div class="img">
			<img src="{{player.image}}" alt="">
		</div>

		<div class="writeup">
			<h1>
				{{ player.name }}
			</h1>

			<div class="details">
				<ul>
					<li>
						Rank - {{ rank }}
					</li>
					<li>
						Score - {{ player.score }}
					</li>
				</ul>
				
			</div>
			
			<div class="btns">
				<a href="{% url 'user:formdata'%}">
					<button class="btn">
						Profile
					</button>
				</a>
				<a href="{% url 'quiz:stageone' %}">
					<button class="btn ">
						Resume
					</button>
				</a>
			</div>
		
		</div>
	</div>
</div>

{%endblock%}