{%extends 'base.html' %} {% load static %} 

{% block title %}
<link rel="stylesheet" href="{% static 'user/details.css' %}" />
<link href="https://fonts.googleapis.com/css?family=Darker+Grotesque&display=swap" rel="stylesheet" />
<title>Fill contact details</title>
{% endblock %}

{% block content %}
<div class="content usercontactblock">
  <h2 align="center">
      Fill your details
    </h2>
  <form action="{% url 'user:formdata' %}" method="POST">
    

    {% csrf_token %} {{ form.as_p }}

    <button type="submit" class="btn">
      Submit
    </button>
    <br />
  </form>
</div>

{% endblock %}
