{%extends 'base.html' %} {% load static %} 

{% block title %}
<link rel="stylesheet" href="{% static 'user/details.css' %}" />
<link href="https://fonts.googleapis.com/css?family=Darker+Grotesque&display=swap" rel="stylesheet" />
<title>Fill contact details</title>
{% endblock %}

{% block content %}
<div class="content usercontactblock">
  <div class="dots dotg1">
    <img src="{% static 'images/Ornament 17.svg'%}" class="dots1" />
    <img src="{% static 'images/Ornament 17.svg'%}" class="dots2" />
  </div>
  <div class="dots dotg2">
    <img src="{% static 'images/Ornament 17.svg'%}" class="dots3" />
    <img src="{% static 'images/Ornament 17.svg'%}" class="dots4" />
  </div>
  <h2 align="center">
      Fill your details
    </h2>
  <form action="{% url 'user:formdata' %}" method="POST">
    

    {% csrf_token %} {{ form.as_p }}
    <div class="buttons">
      <button type="submit" class="btn">
        Submit
      </button>
    </div>
    <br />
  </form>
  <div class="dots dotg3">
    <img src="{% static 'images/Ornament 17.svg'%}" class="dots5" />
    <img src="{% static 'images/Ornament 17.svg'%}" class="dots6" />
  </div>
</div>

{% endblock %}
