{% extends 'base.html'%} {% load static %} {% block content %}
{% block title%} <title>Dashboard</title>{% endblock %}

<head>
    <title>Leaderboard</title>
    <meta name="viewport" content="width=device-width, user-scalable=no" />
</head>

    <div class="container">
        <div class="topper">
            {% for top in leader%}
            <img src="{{top.image}}" alt="{{top.name}}" class="tpic" />
            <h3 class="thname">
                {{top.name}}
            </h3>
            <h3 class="tscore">
                {{top.score}}
            </h3>
            {% endfor %}
        </div>
        <div class="box">
            <br />
            <div class="search">
                <input type="text" id="searchbox" placeholder="Search Your Name Here ...." onfocus="this.placeholder = ''" onblur="this.placeholder = 'Search Your Name Here ....'" />
                <br />
            </div>

            <div class="container">
                    
                <table class="table table-striped">
                  <thead>
                    <tr>
                      <th> Pic</th>
                      <th>name</th>
                      <th>
                        Score
                      </th>
                      <th>
                        Last Submit
                      </th>
                    </tr>
                  </thead>
                  <tbody>
                    {% for player in leaderboard %}
                    <tr>
                      <td>

                        <img src="{{ player.image }}" alt="">
                      </td>
                      <td>
                        {{ player.name }}
                      </td>
                      <td>
                        {{ player.score }}
                      </td>
                      <td>
                        {{ player.last_submit.time }}
                      </td>
                      
                    </tr>
                    {% endfor %}
                  </tbody>
                </table>
              </div>
        </div>
    </div>
    

    <!-- <div class="parallax"></div> -->

    <script type="text/javascript">
        var no = "{{n}}";
        console.log(no);
        $(document).ready(function() {
            $("#searchbox").on("keyup", function() {
                for (i = 0; i < no; i++) {
                    let inp = document.querySelector("#searchbox").value;
                    let msg = document.querySelector(".searchResult");
                    let org = document.querySelectorAll(".item")[i];
                    if (
                        org
                        .querySelector(".name")
                        .innerText.toUpperCase()
                        .indexOf(inp.toUpperCase()) > -1
                    ) {
                        org.style.display = "";
                    } else {
                        org.style.display = "none";
                    }
                }
            });
        });

        function myFunction() {
            var x = document.getElementById("myLinks");
            if (x.style.display === "block") {
                x.style.display = "none";
            } else {
                x.style.display = "block";
            }
        }
    </script>
    <script type="text/javascript">
        $(document).ready(function (){
            var body_height = $('body').height();
            var header_height = $('header').height();
            var footer_height = $('footer').height();
            var box_height =(body_height-(header_height+footer_height)-20-32);

            if(window.matchMedia("(max-width: 980px)").matches){
               var topper_height = $('.topper').outerHeight(); 
               box_height = box_height - topper_height-32+16;
            }
            $('.content .box').css("height",box_height+"px");
        })
    </script>


{% endblock %}
